<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ziggeo" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Ziggeo Recorder and Player</name>

    <js-module name="ZiggeoCordovaPlugin" src="www/ziggeo.js">
        <clobbers target="cordova.plugins.Ziggeo"/>
    </js-module>

    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZiggeoCordovaPlugin">
                <param name="android-package" value="com.ziggeo.ZiggeoCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA"/>

            <uses-permission android:name="android.permission.INTERNET"/>

            <!-- Camera features - recommended -->
            <uses-feature android:name="android.hardware.camera" android:required="true"/>
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
            <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
        </config-file>

        <resource-file src="src/android/styles.xml" target="res/values/styles.xml"/>

        <source-file src="src/android/com/ziggeo/ZiggeoCordovaPlugin.java" target-dir="src/com/ziggeo"/>
        <source-file src="src/android/com/ziggeo/CameraFullscreenRecorder.java" target-dir="src/com/ziggeo"/>
    </platform>
</plugin>
